@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree serif", sans-serif;
}

html {
  scroll-behavior: smooth;
}

img{
    width: 120px;
}

/* logo */




