<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h3>Menu</h3>
                <ul>
                     <li>
                        <a href="/index.html">Home</a>
                    </li>
                    <li>
                        <a href="/sobre">Sobre</a>
                    </li>
                    
                      <li>
                          <!--<div class="dropdown">
                      <span><font color="white">Área do Aluno</font></span>
                      <div class="dropdown-content">
                           <p><a href="http://189.90.101.171:8092/sql_http_aluno/servlet/hwalgn?1" target="_blank">Boletim Online</a></p>
                           <p><a href="/area-aluno">Gabaritos e Resoluções</a></p>
                           <p><a href="http://webdesk2.cursoanglo.com.br/Paginas/Professores.aspx?IUGrupo=A3F48760-2386-44D5-9F30-06B33B09A478" target="_blank">Sala dos Professores</a></p>
                           <p><a href="/arquivos">Arquivos</a></p>
                           <p><a href="http://www.anglopedia.com.br/CadernoDeExercicios.htm?Token=b9ffbe5c-f43d-41be-a373-23ab91c98066" target="_blank">Plantão de Dúvidas Online</a></p>
                           <p><a href="http://angloresolve.plurall.net/" target="_blank">Anglo Resolve</a></p>
                           <p><a href="/pdf/manual do aluno.pdf" target="_blank">Manual do Aluno</a></p>
                           <p><a href="/prof/index.html">Corpo Docente</a></p>
                           <p><a href="http://www.sistemaanglo.com.br/Paginas/Home.aspx" target="_blank">Portal Anglo</a></p>
                    </div>
                    </div>-->
                    
                    </li>
                    
                      <li>
                        <a href="/fotos">Fotos</a>
                    </li>
               
                    
                    <li>
                        <a href="/links">Links</a>
                    </li>
                    <li>
                        <a href="/contato">Contato</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Social</h3>
                {% include social.html %}

            </div>
            <div class="col-md-3 col-sm-6 col-contact">
                <h3>Contato</h3>
                <ul>
                    <h4><font color="#fffff">Endereço</font></h4>
                    <li>Rua Luiz Gonzaga Falcão Neto, 83<br>CEP 17.400-000<br>Garça - SP</li>
                    <h4><font color="#fffff">Atendimento</font></h4>
                     <li><svg width="15" height="20"><use xlink:href="#whats" /></svg> (14) 9-9122-0856<br>Fone: (14) 9-9122-0856</li>
                </ul>
            </div>
            <!--<div class="col-md-3 col-sm-6"><br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3693.5772684686917!2d-49.651711984497496!3d-22.218165985366262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bfb92768e24497%3A0x78ba2230a7ecf0df!2sCol%C3%A9gio+Lumen!5e0!3m2!1spt-BR!2sbr!4v1480274784206" width="262" height="212" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>-->
        </div>
    </div>    
</footer>
<div class="copyright">2018 © João Daniel dos Santos Dias. Todos os Direitos Reservados.</div>