<header class="header">
    <div class="container">
        <div class="hamburguer">
            <div class="hamburguer-stripe hamburguer-top"></div>
            <div class="hamburguer-stripe hamburguer-middle"></div>
            <div class="hamburguer-stripe hamburguer-bottom"></div>
        </div>
          <h9 id="topo"></h9>
       
       <div class="top-bar">
           
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <!--  <ul>
              <li>
                    <svg width="15" height="20"><use xlink:href="#home" /></svg>
                    <a href="/index.html">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
             </li>
             <li>
             </li>
             <li>
             </li>
             <li>
             </li>
             <li>
             </li>
             <li>
             </li>
             <li>
             </li>
             <li>
             </li><li>
             </li><li>
             </li><li>
             </li><li>
             </li><li>

                    <svg width="15" height="20"><use xlink:href="#user" /></svg>
                    <div class="dropdown">
                      <span>Área do Aluno</span>
                      <div class="dropdown-content">
                           <p><a href="http://189.90.101.171:8092/sql_http_aluno/servlet/hwalgn?1" target="_blank">Boletim Online</a></p>
                           <p><a href="/area-aluno">Gabaritos e Resoluções</a></p>
                           <p><a href="http://webdesk2.cursoanglo.com.br/Paginas/Professores.aspx?IUGrupo=A3F48760-2386-44D5-9F30-06B33B09A478" target="_blank">Sala dos Professores</a></p>
                           <p><a href="/arquivos#arquivos">Arquivos</a></p>
                           <p><a href="http://www.anglopedia.com.br/CadernoDeExercicios.htm?Token=b9ffbe5c-f43d-41be-a373-23ab91c98066" target="_blank">Plantão de Dúvidas Online</a></p>
                           <p><a href="http://angloresolve.plurall.net/" target="_blank">Anglo Resolve</a></p>
                           <p><a href="/pdf/manual do aluno.pdf" target="_blank">Manual do Aluno</a></p>
                           <p><a href="/prof/index.html">Corpo Docente</a></p>
                           <p><a href="http://www.sistemaanglo.com.br/Paginas/Home.aspx" target="_blank">Portal Anglo</a></p>
                           <p><a data-toggle="collapse" data-target="#vest1">Vestibulares +</a></p>
                           <div id="vest1" class="collapse">
                           <p><a href="/pdf/oquemaiscai.pdf" target="_blank">O Que mais cai?</a></p>
                           <p><a href="http://tvescola.mec.gov.br/tve/serie/hora-do-enem" target="_blank">Hora do ENEM</a></p>
                           <p><a href="/pdf/tri.pdf" target="_blank">TRI – ENEM</a></p>
                           <p><a href="/pdf/obras literárias.pdf" target="_blank">Lista de Obras Literárias</a></p>
                           <p><a href="/aprovados/2017.html">Lista de Aprovados 2017</a></p>
                           <p><a href="/aprovados/2016.html">Lista de Aprovados 2016</a></p>
                          </div>
                    </div>
                    </div>
                </li>
                
                 <li>
                    <svg width="15" height="20"><use xlink:href="#clock" /></svg>
                    <div class="dropdown">
                      <span>Horários</span>
                      <div class="dropdown-content">
                       <p><a href="/pdf/horárioef1.pdf" target="_blank">Ensino Fundamental 1</a></p>
                       <p><a href="/pdf/horárioef2.pdf" target="_blank">Ensino Fundamental 2</a></p>
                       <p><a href="/pdf/horárioem.pdf" target="_blank">Ensino Médio</a></p>
                       <p><a href="/pdf/horáriopv.pdf" target="_blank">Cursinho Extensivo Integral</a></p>
                        <p><a data-toggle="collapse" data-target="#hor">Recuperação +</a></p>
                           <div id="hor" class="collapse">
                            <p><a href="/pdf/recf2.pdf" target="_blank">Ensino Fundamental 2</a></p> 
                            <p><a href="/pdf/recm.pdf" target="_blank">Ensino Médio</a></p>   
                           </div>
                    </div>
                    </div>
                </li>
                
                 <li>
                    <svg width="15" height="20"><use xlink:href="#calendar" /></svg>
                    <div class="dropdown">
                      <span>Calendários</span>
                      <div class="dropdown-content">
                        <p><a href="/pdf/calendario/calendárioei.pdf" target="_blank">Educação Infantil</a></p>
                        <p><a href="/pdf/calendario/calendário1f.pdf" target="_blank">1º Ano Ensino Fundamental</a></p>
                        <p><a href="/pdf/calendario/calendário2f.pdf" target="_blank">2° Ano Ensino Fundamental</a></p>
                        <p><a href="/pdf/calendario/calendário3f.pdf" target="_blank">3° ao 5° Ano Ensino Fundamental</a></p>
                        <p><a href="/pdf/calendario/calendárioef2.pdf" target="_blank">6° ao 9° Ano Ensino Fundamental</a></p>
                        <p><a href="/pdf/calendario/calendárioem.pdf" target="_blank">1° Ano e 2º Ano Ensino Médio</a></p>
                        <p><a href="/pdf/calendario/calendário3m.pdf" target="_blank">3° Ano Ensino Médio</a></p>
                        <p><a href="/pdf/calendario/calendáriopv.pdf" target="_blank">Cursinho Extensivo Integral</a></p>
                    </div>
                    </div>
                </li>
                
            </ul>-->
            
            
            
            {% include social.html %}
        </div>
        <div class="row">
            <div class="col-sm-3">
                    <a href="/index.html" class="text-home"><img src="/img/home.png"><br> HOME</a>
                <a href="/" class="site-logo">
                    <img src="/img/logo.png">
                </a>
            </div>
            <div class="col-sm-3"></div>
            
            <div class="col-sm-6">
                <nav>
                    <ul>
                        <li>
                            <a href="/sobre">Sobre</a>
                        </li>
                        <li>
                            <a href="/fotos">Fotos</a>
                        </li>
                        
                       
                         <li>
                            <a href="/links">Links</a>
                        </li>
                        <li>
                            <a href="/contato">Contato</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        </div>
    </div>
</header>