 <div class="menu-top">
        MENU
        </div> 
 <nav role="navigation" class="menu-mobile">
 <ul id="accordion" class="accordion">

  <li>
    <div class="link"><a href="/sobre">Sobre</a></div>
  </li>
  
 
   <li>
    <div class="link"><a href="/fotos">Fotos</a></div>
  </li>
  <!--<li>
    <div class="link">Vestibulares<i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
            <li><a href="/pdf/oquemaiscai.pdf" target="_blank">O Que mais cai?</a></li>
            <li><a href="http://tvescola.mec.gov.br/tve/serie/hora-do-enem" target="_blank">Hora do ENEM</a></li>
            <li><a href="/pdf/tri.pdf" target="_blank">TRI – ENEM</a></li>
            <li><a href="/pdf/obras literárias.pdf" target="_blank">Lista de Obras Literárias</a></li>
            <li><a href="/aprovados/2017.html">Lista de Aprovados 2017</a></li>
            <li><a href="/aprovados/2016.html">Lista de Aprovados 2016</a></li>
    </ul>
  </li>-->
   <li>
    <div class="link"><a href="/links">Links</a></div>
  </li>
  <li>
    <div class="link"><a href="/contato">Contato</a></div>
  </li>
  
  
<!--</ul>
    
    <ul>
         <li>
            <a href="/index.html">Home</a>
        </li>
         <li>
            <a href="/sobre">Sobre</a>
        </li>
        <li>
             <a data-toggle="collapse" data-target="#men1">Área do Aluno <font color="red" size="4">+</font></a>
            <div id="men1" class="collapse">
            <a href="http://189.90.101.171:8092/sql_http_aluno/servlet/hwalgn?1" target="_blank">Boletim Online</a>
            <a href="/area-aluno#gab">Gabaritos e Resoulções</a>
            <a href="http://webdesk2.cursoanglo.com.br/Paginas/Professores.aspx?IUGrupo=A3F48760-2386-44D5-9F30-06B33B09A478" target="_blank">Sala dos Professores</a>
            <a href="/arquivos#arquivos">Arquivos</a>
            <a href="http://www.anglopedia.com.br/CadernoDeExercicios.htm?Token=9f00ee87-a575-4ef8-be4a-b2c12698e867" target="_blank">Plantão de Dúvidas Online</a>
            <a href="http://angloresolve.plurall.net/" target="_blank">Anglo Resolve</a>
            <a href="/pdf/manual do aluno.pdf" target="_blank">Manual do Aluno</a>
            <a href="/prof/index.html">Corpo Docente</a>
            <a href="http://www.sistemaanglo.com.br/Paginas/Home.aspx" target="_blank">Portal Anglo</a>
            </div>
        </li>
        
        <li>
            <a href="/fotos">Fotos</a>
        </li>
        
         <li>
             <a data-toggle="collapse" data-target="#men2">Horários <font color="red" size="4">+</font></a>
            <div id="men2" class="collapse">
            <a href="/pdf/horárioef1.pdf" target="_blank">Ensino Fundamental 1</a>
            <a href="/pdf/horárioef2.pdf" target="_blank">Ensino Fundamental 2</a>
            <a href="/pdf/horárioem.pdf" target="_blank">Ensino Médio</a>
            <a href="/pdf/horáriopv.pdf" target="_blank">Cursinho Extensivo Integral</a>
            </div>
        </li>
        
         <li>
             <a data-toggle="collapse" data-target="#men3">Calendários <font color="red" size="4">+</font></a>
            <div id="men3" class="collapse">
            <a href="/pdf/calendario/calendárioei.pdf" target="_blank">Educação Infantil</a>
            <a href="/pdf/calendario/calendário1f.pdf" target="_blank">1º Ano Ensino Fundamental</a>
            <a href="/pdf/calendario/calendário2f.pdf" target="_blank">2° Ano Ensino Fundamental</a>
            <a href="/pdf/calendario/calendário3f.pdf" target="_blank">3° ao 5° Ano Ensino Fundamental</a>
            <a href="/pdf/calendario/calendárioef2.pdf" target="_blank">6° ao 9° Ano Ensino Fundamental</a>
            <a href="/pdf/calendario/calendárioem.pdf" target="_blank">1° Ano e 2º Ano Ensino Médio</a>
            <a href="/pdf/calendario/calendário3m.pdf" target="_blank">3° Ano Ensino Médio</a>
            <a href="/pdf/calendario/calendáriopv.pdf" target="_blank">Cursinho Extensivo Integral</a>
            </div>
        </li>
        
        <li>
            <a href="/blog">Blog</a>
        </li>

         <li>
             <a data-toggle="collapse" data-target="#men4">Vestibulares <font color="red" size="4">+</font></a>
            <div id="men4" class="collapse">
            <a href="/aprovados/2017.html" target="_blank">Lista de Aprovados 2017</a>
            <a href="/aprovados/2016.html" target="_blank">Lista de Aprovados 2016</a>
            <a href="/pdf/obras literárias.pdf" target="_blank">Lista de Obras Literárias</a>
            <a href="/pdf/oquemaiscai.pdf" target="_blank">O Que mais cai?</a>
            <a href="http://tvescola.mec.gov.br/tve/serie/hora-do-enem" target="_blank">Hora do ENEM</a>
            </div>
            </li>
       
        <li>
            <a href="/links">Links</a>
        </li>
        
        <li>
            <a href="/contato">Contato</a>
        </li>
    </ul>-->
</nav>


