<div class="social">
    <!--<a href="https://www.instagram.com/colegio.lumen/?hl=pt-br" target="_blank">
        <svg width="35" height="35"><use xlink:href="#instagram" /></svg>
    </a>-->
   <a href="https://www.youtube.com/channel/UCWbUFZffIo645hGdzeI-MdA" target="_blank">
        <svg width="35" height="35"><use xlink:href="#youtube" /></svg>
    </a>
    
    <a href="https://www.facebook.com/joaodaniel.santosdias.5" target="_blank">
        <svg width="35" height="35"><use xlink:href="#facebook" /></svg>
    </a>
</div>