---
layout: default
---
<div class="post-container container">
    <h1 class="post-title">{{ page.title }}</h1>
  
    <p>Por {{ page.author }} em {{ page.date | date: "%d/%m/%Y" }}</p>
    
    <span> - 2 minutes to read</span>
    
    {% include minutes-to-read.html %}
    
    Qtd de palavras: {{words}}
    
    {{ content }}
    


<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = '{{ site.url }} {{ site.baseurl }} {{ page.url }}';
this.page.identifier = '{{ page.url }}';                       
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://jdsd.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            


                               
    
    <a href="{{ site.baseurl }}/blog" class="btn">Voltar ao blog</a>
</div>